-- Verificar tabelas existentes
SELECT table_name 
FROM information_schema.tables 
WHERE table_schema = 'public' 
AND table_name IN ('company_addresses', 'cardapio_branding', 'media_files', 'agente_ia_config')
ORDER BY table_name;

-- Verificar se a coluna slug existe
SELECT column_name 
FROM information_schema.columns 
WHERE table_name = 'companies' 
AND column_name = 'slug';

-- Verificar buckets do storage
SELECT * FROM storage.buckets WHERE id = 'media';
