-- Migrations Consolidadas - 06/19/2025 12:36:34
-- Total de migrations: 30

-- ================================================
-- Migration: 20250118_create_company_address.sql
-- ================================================

-- Create company_addresses table
CREATE TABLE IF NOT EXISTS public.company_addresses (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    company_id UUID NOT NULL REFERENCES public.companies(id) ON DELETE CASCADE,
    cep VARCHAR(10),
    logradouro VARCHAR(255) NOT NULL,
    numero VARCHAR(20) NOT NULL,
    complemento VARCHAR(255),
    bairro VARCHAR(100) NOT NULL,
    cidade VARCHAR(100) NOT NULL,
    estado VARCHAR(2) NOT NULL,
    referencia VARCHAR(255),
    latitude DECIMAL(10, 8),
    longitude DECIMAL(11, 8),
    hide_from_customers BOOLEAN DEFAULT false,
    manual_coordinates BOOLEAN DEFAULT false,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL
);

-- Create unique index to ensure one address per company
CREATE UNIQUE INDEX idx_company_addresses_company_id ON public.company_addresses(company_id);

-- Create updated_at trigger
CREATE OR REPLACE FUNCTION public.handle_updated_at()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = timezone('utc'::text, now());
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER handle_company_addresses_updated_at
    BEFORE UPDATE ON public.company_addresses
    FOR EACH ROW
    EXECUTE FUNCTION public.handle_updated_at();

-- Enable RLS
ALTER TABLE public.company_addresses ENABLE ROW LEVEL SECURITY;

-- Create RLS policies
-- Policy for viewing addresses (authenticated users can view addresses of companies they belong to)
CREATE POLICY "Users can view their company addresses" ON public.company_addresses
    FOR SELECT
    USING (
        EXISTS (
            SELECT 1 FROM public.companies
            WHERE companies.id = company_addresses.company_id
            AND companies.user_id = auth.uid()
        )
    );

-- Policy for inserting addresses
CREATE POLICY "Users can insert their company addresses" ON public.company_addresses
    FOR INSERT
    WITH CHECK (
        EXISTS (
            SELECT 1 FROM public.companies
            WHERE companies.id = company_addresses.company_id
            AND companies.user_id = auth.uid()
        )
    );

-- Policy for updating addresses
CREATE POLICY "Users can update their company addresses" ON public.company_addresses
    FOR UPDATE
    USING (
        EXISTS (
            SELECT 1 FROM public.companies
            WHERE companies.id = company_addresses.company_id
            AND companies.user_id = auth.uid()
        )
    );

-- Policy for deleting addresses
CREATE POLICY "Users can delete their company addresses" ON public.company_addresses
    FOR DELETE
    USING (
        EXISTS (
            SELECT 1 FROM public.companies
            WHERE companies.id = company_addresses.company_id
            AND companies.user_id = auth.uid()
        )
    );

-- Grant permissions
GRANT ALL ON public.company_addresses TO authenticated;
GRANT SELECT ON public.company_addresses TO anon;

-- Add comment to table
COMMENT ON TABLE public.company_addresses IS 'Stores company addresses and location information';

-- Add comments to columns
COMMENT ON COLUMN public.company_addresses.company_id IS 'Reference to the company';
COMMENT ON COLUMN public.company_addresses.cep IS 'Brazilian postal code';
COMMENT ON COLUMN public.company_addresses.logradouro IS 'Street name';
COMMENT ON COLUMN public.company_addresses.numero IS 'Street number';
COMMENT ON COLUMN public.company_addresses.complemento IS 'Additional address information';
COMMENT ON COLUMN public.company_addresses.bairro IS 'Neighborhood';
COMMENT ON COLUMN public.company_addresses.cidade IS 'City';
COMMENT ON COLUMN public.company_addresses.estado IS 'State (2 letter code)';
COMMENT ON COLUMN public.company_addresses.referencia IS 'Reference point for delivery';
COMMENT ON COLUMN public.company_addresses.latitude IS 'Geographic latitude';
COMMENT ON COLUMN public.company_addresses.longitude IS 'Geographic longitude';
COMMENT ON COLUMN public.company_addresses.hide_from_customers IS 'Whether to hide address from customers in digital menu';
COMMENT ON COLUMN public.company_addresses.manual_coordinates IS 'Whether coordinates were manually set'; 


-- ================================================
-- Migration: 20250616180128-c5eef372-2c5d-4849-ade3-d27072e75a2a.sql
-- ================================================


-- Criar tabela de empresas
CREATE TABLE public.companies (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  name TEXT NOT NULL,
  domain TEXT UNIQUE NOT NULL,
  logo TEXT,
  plan TEXT NOT NULL DEFAULT 'basic' CHECK (plan IN ('basic', 'pro', 'enterprise')),
  status TEXT NOT NULL DEFAULT 'active' CHECK (status IN ('active', 'inactive', 'suspended')),
  user_count INTEGER NOT NULL DEFAULT 0,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Habilitar RLS
ALTER TABLE public.companies ENABLE ROW LEVEL SECURITY;

-- PolÃ­tica para super_admin ver todas as empresas
CREATE POLICY "Super admins can view all companies" 
  ON public.companies 
  FOR SELECT 
  USING (true);

-- PolÃ­tica para super_admin criar empresas
CREATE POLICY "Super admins can create companies" 
  ON public.companies 
  FOR INSERT 
  WITH CHECK (true);

-- PolÃ­tica para super_admin atualizar empresas
CREATE POLICY "Super admins can update companies" 
  ON public.companies 
  FOR UPDATE 
  USING (true);

-- PolÃ­tica para super_admin deletar empresas
CREATE POLICY "Super admins can delete companies" 
  ON public.companies 
  FOR DELETE 
  USING (true);

-- Inserir dados de exemplo
INSERT INTO public.companies (name, domain, logo, plan, status, user_count) VALUES
('Restaurante Bella Vista', 'bellavista', 'ðŸ½ï¸', 'pro', 'active', 12),
('Pizzaria Napoli', 'napoli', 'ðŸ•', 'basic', 'active', 5),
('CafÃ© Central', 'cafecentral', 'â˜•', 'enterprise', 'active', 25);


-- ================================================
-- Migration: 20250616204829-52393738-e537-48a8-9c7a-6110414ec8d0.sql
-- ================================================


-- Criar tabela de produtos
create table public.produtos (
  id uuid primary key default gen_random_uuid(),
  name text not null,
  image text,
  price numeric(10,2) not null,
  description text,
  destaque boolean default false,
  categoria text,
  company_id uuid not null references public.companies(id) on delete cascade,
  created_at timestamp with time zone default timezone('utc', now()),
  updated_at timestamp with time zone default timezone('utc', now())
);

-- Ãndice para busca rÃ¡pida por empresa
create index produtos_company_id_idx on public.produtos(company_id);

-- Habilitar RLS
alter table public.produtos enable row level security;

-- PolÃ­tica para super_admin ver todos os produtos
create policy "Super admins can view all produtos" 
  on public.produtos 
  for select 
  using (true);

-- PolÃ­tica para company_admin ver apenas produtos da sua empresa
create policy "Company admins can view their company produtos" 
  on public.produtos 
  for select 
  using (company_id in (select id from public.companies));

-- PolÃ­tica para super_admin criar produtos
create policy "Super admins can create produtos" 
  on public.produtos 
  for insert 
  with check (true);

-- PolÃ­tica para company_admin criar produtos apenas para sua empresa
create policy "Company admins can create produtos for their company" 
  on public.produtos 
  for insert 
  with check (company_id in (select id from public.companies));

-- PolÃ­tica para super_admin atualizar produtos
create policy "Super admins can update produtos" 
  on public.produtos 
  for update 
  using (true);

-- PolÃ­tica para company_admin atualizar apenas produtos da sua empresa
create policy "Company admins can update their company produtos" 
  on public.produtos 
  for update 
  using (company_id in (select id from public.companies));

-- PolÃ­tica para super_admin deletar produtos
create policy "Super admins can delete produtos" 
  on public.produtos 
  for delete 
  using (true);

-- PolÃ­tica para company_admin deletar apenas produtos da sua empresa
create policy "Company admins can delete their company produtos" 
  on public.produtos 
  for delete 
  using (company_id in (select id from public.companies));

-- Inserir alguns produtos de exemplo
insert into public.produtos (name, image, price, description, destaque, categoria, company_id) 
select 
  'Combo DomÃ­nio Pizza Grande + RefrÃ­ 1,5l',
  '',
  64.99,
  'A escolha de quem sabe! Leve uma Pizza Grande deliciosa e um refrÃ­ gelado por um preÃ§o especial.',
  true,
  'Combos/Ofertas',
  id
from public.companies 
where domain = 'bellavista';

insert into public.produtos (name, image, price, description, destaque, categoria, company_id) 
select 
  'Combo Perfeito Pizza Giga + RefrÃ­ 1,5l',
  '',
  79.99,
  'Combo especial com Pizza Giga e refrigerante.',
  true,
  'Combos/Ofertas',
  id
from public.companies 
where domain = 'bellavista';

insert into public.produtos (name, image, price, description, categoria, company_id) 
select 
  '2 Pizzas MÃ©dias',
  '',
  94.99,
  'PromoÃ§Ã£o especial: 2 pizzas mÃ©dias.',
  'Pizzas',
  id
from public.companies 
where domain = 'bellavista';

insert into public.produtos (name, image, price, description, categoria, company_id) 
select 
  '2 Pizzas Grandes',
  '',
  109.99,
  'PromoÃ§Ã£o especial: 2 pizzas grandes.',
  'Pizzas',
  id
from public.companies 
where domain = 'bellavista';


-- ================================================
-- Migration: 20250616235718-3d9b00ea-b822-461c-ae61-2d58688ec684.sql
-- ================================================


-- Criar tabela de integraÃ§Ãµes WhatsApp
CREATE TABLE public.whatsapp_integrations (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  company_id UUID NOT NULL REFERENCES public.companies(id) ON DELETE CASCADE,
  control_id UUID NOT NULL,
  host TEXT NOT NULL,
  instance_key TEXT NOT NULL,
  token TEXT NOT NULL,
  webhook TEXT,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT timezone('utc', now()),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT timezone('utc', now())
);

-- Criar Ã­ndice Ãºnico no campo company_id
CREATE UNIQUE INDEX whatsapp_integrations_company_id_idx ON public.whatsapp_integrations(company_id);

-- Habilitar RLS
ALTER TABLE public.whatsapp_integrations ENABLE ROW LEVEL SECURITY;

-- PolÃ­tica para super_admin ver todas as integraÃ§Ãµes
CREATE POLICY "Super admins can view all whatsapp integrations" 
  ON public.whatsapp_integrations 
  FOR SELECT 
  USING (true);

-- PolÃ­tica para company_admin ver apenas integraÃ§Ã£o da sua empresa
CREATE POLICY "Company admins can view their company whatsapp integration" 
  ON public.whatsapp_integrations 
  FOR SELECT 
  USING (company_id IN (SELECT id FROM public.companies));

-- PolÃ­tica para super_admin criar integraÃ§Ãµes
CREATE POLICY "Super admins can create whatsapp integrations" 
  ON public.whatsapp_integrations 
  FOR INSERT 
  WITH CHECK (true);

-- PolÃ­tica para company_admin criar integraÃ§Ã£o para sua empresa
CREATE POLICY "Company admins can create whatsapp integration for their company" 
  ON public.whatsapp_integrations 
  FOR INSERT 
  WITH CHECK (company_id IN (SELECT id FROM public.companies));

-- PolÃ­tica para super_admin atualizar integraÃ§Ãµes
CREATE POLICY "Super admins can update whatsapp integrations" 
  ON public.whatsapp_integrations 
  FOR UPDATE 
  USING (true);

-- PolÃ­tica para company_admin atualizar apenas integraÃ§Ã£o da sua empresa
CREATE POLICY "Company admins can update their company whatsapp integration" 
  ON public.whatsapp_integrations 
  FOR UPDATE 
  USING (company_id IN (SELECT id FROM public.companies));

-- PolÃ­tica para super_admin deletar integraÃ§Ãµes
CREATE POLICY "Super admins can delete whatsapp integrations" 
  ON public.whatsapp_integrations 
  FOR DELETE 
  USING (true);

-- PolÃ­tica para company_admin deletar apenas integraÃ§Ã£o da sua empresa
CREATE POLICY "Company admins can delete their company whatsapp integration" 
  ON public.whatsapp_integrations 
  FOR DELETE 
  USING (company_id IN (SELECT id FROM public.companies));


-- ================================================
-- Migration: 20250617005042-6548a986-44c7-46b7-98c7-392fcf323b15.sql
-- ================================================


-- Adiciona o campo 'store_code' como inteiro Ãºnico
ALTER TABLE companies ADD COLUMN store_code integer UNIQUE;

-- Preenche para todas as lojas existentes, comeÃ§ando do 1000
WITH numbered AS (
  SELECT id, ROW_NUMBER() OVER (ORDER BY created_at ASC) + 999 AS seq
  FROM companies
)
UPDATE companies
SET store_code = numbered.seq
FROM numbered
WHERE companies.id = numbered.id;

-- Cria a sequÃªncia para prÃ³ximas lojas (corrigindo a sintaxe)
DO $$
DECLARE
    next_value integer;
BEGIN
    SELECT COALESCE(MAX(store_code), 999) + 1 INTO next_value FROM companies;
    EXECUTE format('CREATE SEQUENCE IF NOT EXISTS companies_store_code_seq START WITH %s', next_value);
END $$;

-- Define o valor padrÃ£o para usar a sequÃªncia
ALTER TABLE companies ALTER COLUMN store_code SET DEFAULT nextval('companies_store_code_seq');


-- ================================================
-- Migration: 20250617015040-1d60cd85-5f1c-4a96-8be1-bf34b93a661c.sql
-- ================================================


CREATE TABLE public.clientes (
    id SERIAL PRIMARY KEY,
    nome VARCHAR(120) NOT NULL,
    email VARCHAR(120),
    telefone VARCHAR(30),
    documento VARCHAR(30),
    endereco TEXT,
    cidade VARCHAR(60),
    estado VARCHAR(2),
    cep VARCHAR(12),
    data_cadastro TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    status VARCHAR(20) DEFAULT 'ativo'
);

-- Habilitar Row Level Security
ALTER TABLE public.clientes ENABLE ROW LEVEL SECURITY;

-- Criar Ã­ndices para melhor performance
CREATE INDEX idx_clientes_email ON public.clientes(email);
CREATE INDEX idx_clientes_telefone ON public.clientes(telefone);
CREATE INDEX idx_clientes_documento ON public.clientes(documento);
CREATE INDEX idx_clientes_status ON public.clientes(status);


-- ================================================
-- Migration: 20250617031542-3eebb1de-a519-41aa-a10f-c436f20666c2.sql
-- ================================================


-- Criar tabela de categorias de produtos
CREATE TABLE IF NOT EXISTS public.categorias (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  name TEXT NOT NULL,
  description TEXT,
  image TEXT,
  order_position INTEGER DEFAULT 0,
  is_active BOOLEAN DEFAULT true,
  company_id UUID NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Atualizar tabela de produtos para usar categoria_id
ALTER TABLE public.produtos 
DROP COLUMN IF EXISTS categoria,
ADD COLUMN IF NOT EXISTS categoria_id UUID REFERENCES categorias(id) ON DELETE SET NULL,
ADD COLUMN IF NOT EXISTS is_available BOOLEAN DEFAULT true,
ADD COLUMN IF NOT EXISTS preparation_time INTEGER,
ADD COLUMN IF NOT EXISTS ingredients TEXT,
ADD COLUMN IF NOT EXISTS images TEXT[] DEFAULT '{}';

-- Remover restriÃ§Ã£o NOT NULL da coluna image se existir
ALTER TABLE public.produtos ALTER COLUMN image DROP NOT NULL;

-- Criar tabela de categorias de adicionais
CREATE TABLE IF NOT EXISTS public.categorias_adicionais (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  name TEXT NOT NULL,
  description TEXT,
  selection_type TEXT CHECK (selection_type IN ('single', 'multiple', 'quantity')) DEFAULT 'single',
  is_required BOOLEAN DEFAULT false,
  min_selection INTEGER DEFAULT 0,
  max_selection INTEGER,
  company_id UUID NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Criar tabela de itens adicionais
CREATE TABLE IF NOT EXISTS public.adicionais (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  name TEXT NOT NULL,
  description TEXT,
  price DECIMAL(10,2) NOT NULL DEFAULT 0,
  image TEXT,
  categoria_adicional_id UUID NOT NULL REFERENCES categorias_adicionais(id) ON DELETE CASCADE,
  is_available BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Criar tabela de associaÃ§Ã£o produto-categorias de adicionais
CREATE TABLE IF NOT EXISTS public.produto_categorias_adicionais (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  produto_id UUID NOT NULL REFERENCES produtos(id) ON DELETE CASCADE,
  categoria_adicional_id UUID NOT NULL REFERENCES categorias_adicionais(id) ON DELETE CASCADE,
  is_required BOOLEAN DEFAULT false,
  min_selection INTEGER DEFAULT 0,
  max_selection INTEGER,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  UNIQUE(produto_id, categoria_adicional_id)
);

-- Adicionar Ã­ndices para performance
CREATE INDEX IF NOT EXISTS idx_categorias_company_id ON categorias(company_id);
CREATE INDEX IF NOT EXISTS idx_categorias_order ON categorias(order_position);
CREATE INDEX IF NOT EXISTS idx_produtos_categoria_id ON produtos(categoria_id);
CREATE INDEX IF NOT EXISTS idx_produtos_company_id ON produtos(company_id);
CREATE INDEX IF NOT EXISTS idx_categorias_adicionais_company_id ON categorias_adicionais(company_id);
CREATE INDEX IF NOT EXISTS idx_adicionais_categoria_id ON adicionais(categoria_adicional_id);

-- Habilitar RLS para todas as tabelas
ALTER TABLE categorias ENABLE ROW LEVEL SECURITY;
ALTER TABLE categorias_adicionais ENABLE ROW LEVEL SECURITY;
ALTER TABLE adicionais ENABLE ROW LEVEL SECURITY;
ALTER TABLE produto_categorias_adicionais ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas RLS bÃ¡sicas (permitir tudo por enquanto, pode ser refinado depois)
CREATE POLICY "Allow all operations on categorias" ON categorias FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Allow all operations on categorias_adicionais" ON categorias_adicionais FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Allow all operations on adicionais" ON adicionais FOR ALL USING (true) WITH CHECK (true);
CREATE POLICY "Allow all operations on produto_categorias_adicionais" ON produto_categorias_adicionais FOR ALL USING (true) WITH CHECK (true);


-- ================================================
-- Migration: 20250617154900-add-company-slug.sql
-- ================================================

-- Adicionar campo slug para identificaÃ§Ã£o pÃºblica das empresas
ALTER TABLE public.companies ADD COLUMN slug TEXT UNIQUE;

-- Criar funÃ§Ã£o para gerar slug a partir do nome
CREATE OR REPLACE FUNCTION generate_slug(input_text TEXT)
RETURNS TEXT AS $$
BEGIN
  RETURN lower(
    regexp_replace(
      regexp_replace(
        regexp_replace(
          regexp_replace(
            unaccent(input_text),
            '[Ã Ã¡Ã¢Ã£Ã¤Ã¥Ã¦Ã§Ã¨Ã©ÃªÃ«Ã¬Ã­Ã®Ã¯Ã±Ã²Ã³Ã´ÃµÃ¶Ã¸Ã¹ÃºÃ»Ã¼Ã½Ã¿]', 
            '', 'g'
          ),
          '[^a-zA-Z0-9\s-]', 
          '', 'g'
        ),
        '\s+', 
        '-', 'g'
      ),
      '-+', 
      '-', 'g'
    )
  );
END;
$$ LANGUAGE plpgsql;

-- Gerar slugs para empresas existentes
UPDATE public.companies 
SET slug = generate_slug(name) || '-' || store_code
WHERE slug IS NULL;

-- Tornar o campo obrigatÃ³rio apÃ³s popular os dados existentes
ALTER TABLE public.companies ALTER COLUMN slug SET NOT NULL;

-- Criar funÃ§Ã£o para auto-gerar slug em novos registros
CREATE OR REPLACE FUNCTION set_company_slug()
RETURNS TRIGGER AS $$
BEGIN
  -- Se slug nÃ£o foi fornecido, gerar automaticamente
  IF NEW.slug IS NULL THEN
    NEW.slug := generate_slug(NEW.name) || '-' || NEW.store_code;
  END IF;
  
  -- Garantir que o slug seja Ãºnico
  WHILE EXISTS (SELECT 1 FROM companies WHERE slug = NEW.slug AND id != COALESCE(NEW.id, gen_random_uuid())) LOOP
    NEW.slug := NEW.slug || '-' || floor(random() * 1000)::text;
  END LOOP;
  
  RETURN NEW;
END;
$$ LANGUAGE plpgsql;

-- Criar trigger para auto-gerar slug
CREATE TRIGGER trigger_set_company_slug
  BEFORE INSERT OR UPDATE ON public.companies
  FOR EACH ROW
  EXECUTE FUNCTION set_company_slug();

-- Adicionar polÃ­tica RLS para permitir leitura pÃºblica do slug (necessÃ¡rio para cardÃ¡pio pÃºblico)
CREATE POLICY "Anyone can read company slug for public menu" 
  ON public.companies 
  FOR SELECT 
  USING (true);


-- ================================================
-- Migration: 20250617164200-add-cardapio-digital-branding.sql
-- ================================================

-- MigraÃ§Ã£o para adicionar configuraÃ§Ãµes de marca do cardÃ¡pio digital
-- Data: 2025-06-17
-- DescriÃ§Ã£o: Tabelas para armazenar logos, banners, cores e configuraÃ§Ãµes de estilo do cardÃ¡pio digital

-- 1. Tabela para armazenar arquivos de mÃ­dia (logos, banners, etc.)
CREATE TABLE IF NOT EXISTS media_files (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    company_id UUID NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    file_name VARCHAR(255) NOT NULL,
    file_type VARCHAR(50) NOT NULL, -- 'logo', 'banner', 'product_image', etc.
    file_url TEXT NOT NULL,
    file_size INTEGER, -- tamanho em bytes
    mime_type VARCHAR(100), -- image/jpeg, image/png, etc.
    alt_text VARCHAR(255), -- texto alternativo para acessibilidade
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    
    -- Ãndices para performance
    CONSTRAINT unique_company_file_type UNIQUE(company_id, file_type, is_active)
);

-- 2. Tabela para configuraÃ§Ãµes de marca do cardÃ¡pio digital
CREATE TABLE IF NOT EXISTS cardapio_branding (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    company_id UUID NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    
    -- ReferÃªncias para arquivos de mÃ­dia
    logo_file_id UUID REFERENCES media_files(id) ON DELETE SET NULL,
    banner_file_id UUID REFERENCES media_files(id) ON DELETE SET NULL,
    
    -- ConfiguraÃ§Ãµes de exibiÃ§Ã£o
    show_logo BOOLEAN DEFAULT true,
    show_banner BOOLEAN DEFAULT true,
    
    -- Paleta de cores (formato hexadecimal)
    primary_color VARCHAR(7) DEFAULT '#3B82F6', -- Cor primÃ¡ria
    secondary_color VARCHAR(7) DEFAULT '#1E40AF', -- Cor secundÃ¡ria
    accent_color VARCHAR(7) DEFAULT '#F59E0B', -- Cor de destaque
    text_color VARCHAR(7) DEFAULT '#1F2937', -- Cor do texto
    background_color VARCHAR(7) DEFAULT '#FFFFFF', -- Cor de fundo
    
    -- Estilo do cabeÃ§alho
    header_style VARCHAR(20) DEFAULT 'modern' CHECK (header_style IN ('modern', 'classic', 'minimal')),
    
    -- ConfiguraÃ§Ãµes adicionais (JSON para flexibilidade futura)
    additional_settings JSONB DEFAULT '{}',
    
    -- Metadados
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    
    -- Garantir apenas uma configuraÃ§Ã£o ativa por empresa
    CONSTRAINT unique_active_branding_per_company UNIQUE(company_id, is_active)
);

-- 3. FunÃ§Ã£o para atualizar updated_at automaticamente
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ language 'plpgsql';

-- 4. Triggers para atualizar updated_at
CREATE TRIGGER update_media_files_updated_at 
    BEFORE UPDATE ON media_files 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_cardapio_branding_updated_at 
    BEFORE UPDATE ON cardapio_branding 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- 5. Ãndices para performance
CREATE INDEX IF NOT EXISTS idx_media_files_company_id ON media_files(company_id);
CREATE INDEX IF NOT EXISTS idx_media_files_file_type ON media_files(file_type);
CREATE INDEX IF NOT EXISTS idx_media_files_is_active ON media_files(is_active);

CREATE INDEX IF NOT EXISTS idx_cardapio_branding_company_id ON cardapio_branding(company_id);
CREATE INDEX IF NOT EXISTS idx_cardapio_branding_is_active ON cardapio_branding(is_active);

-- 6. PolÃ­ticas RLS (Row Level Security)
ALTER TABLE media_files ENABLE ROW LEVEL SECURITY;
ALTER TABLE cardapio_branding ENABLE ROW LEVEL SECURITY;

-- PolÃ­tica para media_files: usuÃ¡rios podem ver/editar apenas arquivos de suas empresas
CREATE POLICY "Users can view media files of their company" ON media_files
    FOR SELECT USING (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

CREATE POLICY "Users can insert media files for their company" ON media_files
    FOR INSERT WITH CHECK (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

CREATE POLICY "Users can update media files of their company" ON media_files
    FOR UPDATE USING (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

CREATE POLICY "Users can delete media files of their company" ON media_files
    FOR DELETE USING (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

-- PolÃ­tica para cardapio_branding: usuÃ¡rios podem ver/editar apenas configuraÃ§Ãµes de suas empresas
CREATE POLICY "Users can view branding of their company" ON cardapio_branding
    FOR SELECT USING (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

CREATE POLICY "Users can insert branding for their company" ON cardapio_branding
    FOR INSERT WITH CHECK (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

CREATE POLICY "Users can update branding of their company" ON cardapio_branding
    FOR UPDATE USING (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

-- 7. Inserir configuraÃ§Ãµes padrÃ£o para empresas existentes
INSERT INTO cardapio_branding (company_id, primary_color, secondary_color, accent_color, text_color, background_color, header_style)
SELECT 
    id,
    '#3B82F6', -- primary_color
    '#1E40AF', -- secondary_color  
    '#F59E0B', -- accent_color
    '#1F2937', -- text_color
    '#FFFFFF', -- background_color
    'modern'   -- header_style
FROM companies 
WHERE id NOT IN (SELECT company_id FROM cardapio_branding WHERE is_active = true)
ON CONFLICT (company_id, is_active) DO NOTHING;

-- 8. ComentÃ¡rios para documentaÃ§Ã£o
COMMENT ON TABLE media_files IS 'Armazena arquivos de mÃ­dia (logos, banners, imagens de produtos) das empresas';
COMMENT ON TABLE cardapio_branding IS 'ConfiguraÃ§Ãµes de marca e estilo para o cardÃ¡pio digital de cada empresa';

COMMENT ON COLUMN media_files.file_type IS 'Tipo do arquivo: logo, banner, product_image, etc.';
COMMENT ON COLUMN media_files.file_url IS 'URL do arquivo no storage (Supabase Storage)';
COMMENT ON COLUMN media_files.file_size IS 'Tamanho do arquivo em bytes';
COMMENT ON COLUMN media_files.mime_type IS 'Tipo MIME do arquivo (image/jpeg, image/png, etc.)';

COMMENT ON COLUMN cardapio_branding.primary_color IS 'Cor primÃ¡ria da marca em formato hexadecimal';
COMMENT ON COLUMN cardapio_branding.secondary_color IS 'Cor secundÃ¡ria da marca em formato hexadecimal';
COMMENT ON COLUMN cardapio_branding.accent_color IS 'Cor de destaque para preÃ§os e CTAs em formato hexadecimal';
COMMENT ON COLUMN cardapio_branding.header_style IS 'Estilo do cabeÃ§alho: modern, classic ou minimal';
COMMENT ON COLUMN cardapio_branding.additional_settings IS 'ConfiguraÃ§Ãµes adicionais em formato JSON para flexibilidade futura';


-- ================================================
-- Migration: 20250617170354-08d52339-fbba-43c1-adc4-058064247918.sql
-- ================================================


-- Criar bucket de storage para arquivos de mÃ­dia
INSERT INTO storage.buckets (id, name, public)
VALUES ('media', 'media', true);

-- PolÃ­tica para permitir upload de arquivos
CREATE POLICY "Allow authenticated users to upload media files" ON storage.objects
  FOR INSERT WITH CHECK (bucket_id = 'media' AND auth.role() = 'authenticated');

-- PolÃ­tica para permitir visualizaÃ§Ã£o pÃºblica dos arquivos
CREATE POLICY "Allow public access to media files" ON storage.objects
  FOR SELECT USING (bucket_id = 'media');

-- PolÃ­tica para permitir usuÃ¡rios autenticados atualizarem seus arquivos
CREATE POLICY "Allow authenticated users to update media files" ON storage.objects
  FOR UPDATE USING (bucket_id = 'media' AND auth.role() = 'authenticated');

-- PolÃ­tica para permitir usuÃ¡rios autenticados deletarem seus arquivos
CREATE POLICY "Allow authenticated users to delete media files" ON storage.objects
  FOR DELETE USING (bucket_id = 'media' AND auth.role() = 'authenticated');

-- Adicionar coluna slug Ã  tabela companies se nÃ£o existir
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM information_schema.columns 
                   WHERE table_name = 'companies' AND column_name = 'slug') THEN
        ALTER TABLE companies ADD COLUMN slug VARCHAR(255) UNIQUE;
        
        -- Gerar slugs para empresas existentes baseado no nome
        UPDATE companies 
        SET slug = LOWER(REGEXP_REPLACE(REGEXP_REPLACE(name, '[^a-zA-Z0-9\s]', '', 'g'), '\s+', '-', 'g'))
        WHERE slug IS NULL;
    END IF;
END $$;

-- Tabela para armazenar arquivos de mÃ­dia (logos, banners, etc.)
CREATE TABLE IF NOT EXISTS media_files (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    company_id UUID NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    file_name VARCHAR(255) NOT NULL,
    file_type VARCHAR(50) NOT NULL, -- 'logo', 'banner', 'product_image', etc.
    file_url TEXT NOT NULL,
    file_size INTEGER, -- tamanho em bytes
    mime_type VARCHAR(100), -- image/jpeg, image/png, etc.
    alt_text VARCHAR(255), -- texto alternativo para acessibilidade
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Tabela para configuraÃ§Ãµes de marca do cardÃ¡pio digital
CREATE TABLE IF NOT EXISTS cardapio_branding (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    company_id UUID NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
    
    -- ReferÃªncias para arquivos de mÃ­dia
    logo_file_id UUID REFERENCES media_files(id) ON DELETE SET NULL,
    banner_file_id UUID REFERENCES media_files(id) ON DELETE SET NULL,
    
    -- ConfiguraÃ§Ãµes de exibiÃ§Ã£o
    show_logo BOOLEAN DEFAULT true,
    show_banner BOOLEAN DEFAULT true,
    
    -- Paleta de cores (formato hexadecimal)
    primary_color VARCHAR(7) DEFAULT '#3B82F6', -- Cor primÃ¡ria
    secondary_color VARCHAR(7) DEFAULT '#1E40AF', -- Cor secundÃ¡ria
    accent_color VARCHAR(7) DEFAULT '#F59E0B', -- Cor de destaque
    text_color VARCHAR(7) DEFAULT '#1F2937', -- Cor do texto
    background_color VARCHAR(7) DEFAULT '#FFFFFF', -- Cor de fundo
    
    -- Estilo do cabeÃ§alho
    header_style VARCHAR(20) DEFAULT 'modern' CHECK (header_style IN ('modern', 'classic', 'minimal')),
    
    -- ConfiguraÃ§Ãµes adicionais (JSON para flexibilidade futura)
    additional_settings JSONB DEFAULT '{}',
    
    -- Metadados
    is_active BOOLEAN DEFAULT true,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    
    -- Garantir apenas uma configuraÃ§Ã£o ativa por empresa
    CONSTRAINT unique_active_branding_per_company UNIQUE(company_id, is_active)
);

-- FunÃ§Ã£o para atualizar updated_at automaticamente
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ language 'plpgsql';

-- Triggers para atualizar updated_at
CREATE TRIGGER update_media_files_updated_at 
    BEFORE UPDATE ON media_files 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE TRIGGER update_cardapio_branding_updated_at 
    BEFORE UPDATE ON cardapio_branding 
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

-- Ãndices para performance
CREATE INDEX IF NOT EXISTS idx_media_files_company_id ON media_files(company_id);
CREATE INDEX IF NOT EXISTS idx_media_files_file_type ON media_files(file_type);
CREATE INDEX IF NOT EXISTS idx_media_files_is_active ON media_files(is_active);

CREATE INDEX IF NOT EXISTS idx_cardapio_branding_company_id ON cardapio_branding(company_id);
CREATE INDEX IF NOT EXISTS idx_cardapio_branding_is_active ON cardapio_branding(is_active);

-- PolÃ­ticas RLS (Row Level Security)
ALTER TABLE media_files ENABLE ROW LEVEL SECURITY;
ALTER TABLE cardapio_branding ENABLE ROW LEVEL SECURITY;

-- PolÃ­tica para media_files: usuÃ¡rios podem ver/editar apenas arquivos de suas empresas
CREATE POLICY "Users can view media files of their company" ON media_files
    FOR SELECT USING (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

CREATE POLICY "Users can insert media files for their company" ON media_files
    FOR INSERT WITH CHECK (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

CREATE POLICY "Users can update media files of their company" ON media_files
    FOR UPDATE USING (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

CREATE POLICY "Users can delete media files of their company" ON media_files
    FOR DELETE USING (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

-- PolÃ­tica para cardapio_branding: usuÃ¡rios podem ver/editar apenas configuraÃ§Ãµes de suas empresas
CREATE POLICY "Users can view branding of their company" ON cardapio_branding
    FOR SELECT USING (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

CREATE POLICY "Users can insert branding for their company" ON cardapio_branding
    FOR INSERT WITH CHECK (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

CREATE POLICY "Users can update branding of their company" ON cardapio_branding
    FOR UPDATE USING (
        company_id IN (
            SELECT id FROM companies 
            WHERE id = company_id
        )
    );

-- Inserir configuraÃ§Ãµes padrÃ£o para empresas existentes
INSERT INTO cardapio_branding (company_id, primary_color, secondary_color, accent_color, text_color, background_color, header_style)
SELECT 
    id,
    '#3B82F6', -- primary_color
    '#1E40AF', -- secondary_color  
    '#F59E0B', -- accent_color
    '#1F2937', -- text_color
    '#FFFFFF', -- background_color
    'modern'   -- header_style
FROM companies 
WHERE id NOT IN (SELECT company_id FROM cardapio_branding WHERE is_active = true)
ON CONFLICT (company_id, is_active) DO NOTHING;


-- ================================================
-- Migration: 20250617175656-fa8e20a1-cafb-412f-b29b-aa234dd39ae6.sql
-- ================================================


-- Criar usuÃ¡rios de teste para o sistema
-- Inserir usuÃ¡rio admin

-- Inserir usuÃ¡rio lojista


-- ================================================
-- Migration: 20250617175722-3abb6c21-9e87-49e2-9858-9ef987973db6.sql
-- ================================================


-- Atualizar as senhas dos usuÃ¡rios de teste para hash correto de '123456'
-- O hash correto para '123456' no bcrypt Ã©:
UPDATE auth.users 
SET encrypted_password = '$2a$10$GBXHrdt7HFiSM2CFBOOcXuKNjTJM1hhELI7O7Ht2oJqoIeWJXTMJG'
WHERE email IN ('admin@sistema.com', 'joao@pizzaria.com');

-- Garantir que os usuÃ¡rios estÃ£o confirmados e ativos
UPDATE auth.users 
SET 
  email_confirmed_at = NOW(),
  confirmation_sent_at = NOW(),
  last_sign_in_at = NOW()
WHERE email IN ('admin@sistema.com', 'joao@pizzaria.com');


-- ================================================
-- Migration: 20250617175923-a6c6019d-89aa-4ddd-ad19-9560452833ac.sql
-- ================================================


-- Corrigir campos NULL que estÃ£o causando erro de autenticaÃ§Ã£o
UPDATE auth.users 
SET 
  confirmation_token = '',
  recovery_token = '',
  email_change_token_new = '',
  email_change = ''
WHERE email IN ('admin@sistema.com', 'joao@pizzaria.com');

-- Garantir que todos os campos obrigatÃ³rios estÃ£o preenchidos
UPDATE auth.users 
SET 
  phone = NULL,
  phone_change = '',
  phone_change_token = '',
  email_change_token_current = '',
  email_change_confirm_status = 0,
  banned_until = NULL,
  reauthentication_token = '',
  reauthentication_sent_at = NULL
WHERE email IN ('admin@sistema.com', 'joao@pizzaria.com');


-- ================================================
-- Migration: 20250617180304-90a0dc12-a8c4-4539-a72a-29a0322c0a1c.sql
-- ================================================


-- Primeiro, vamos verificar se os usuÃ¡rios existem e depois atualizar com um hash vÃ¡lido
-- Deletar usuÃ¡rios existentes se houver problemas
DELETE FROM auth.users WHERE email IN ('admin@sistema.com', 'joao@pizzaria.com');

-- Criar usuÃ¡rios com hash de senha correto para '123456'
-- Usando hash bcrypt vÃ¡lido: $2a$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi


-- ================================================
-- Migration: 20250617180500-fix-test-users.sql
-- ================================================


-- Limpar usuÃ¡rios existentes
DELETE FROM auth.users WHERE email IN ('admin@sistema.com', 'joao@pizzaria.com');

-- Inserir usuÃ¡rios de teste usando o mÃ©todo correto do Supabase
-- Usando um hash bcrypt vÃ¡lido que funciona com Supabase Auth


-- ================================================
-- Migration: 20250617180809-558c12a9-bf71-4382-995a-bbe6f9395fc7.sql
-- ================================================


-- Primeiro, vamos limpar completamente e recriar os usuÃ¡rios de teste
-- com um hash bcrypt vÃ¡lido e testado

-- Limpar usuÃ¡rios existentes
DELETE FROM auth.users WHERE email IN ('admin@sistema.com', 'joao@pizzaria.com');

-- Inserir usuÃ¡rios usando hash bcrypt vÃ¡lido para senha '123456'
-- Hash: $2a$10$N9qo8uLOickgx2ZMRt/M3OHSCi80qji6uIL75xPaELGqn7mFbP4mS

-- Verificar se os usuÃ¡rios foram criados corretamente
SELECT email, encrypted_password, email_confirmed_at, created_at 
FROM auth.users 
WHERE email IN ('admin@sistema.com', 'joao@pizzaria.com');


-- ================================================
-- Migration: 20250617184030-f5e33c34-9029-42cb-8787-e2099870f577.sql
-- ================================================


-- Limpar usuÃ¡rios existentes primeiro
DELETE FROM auth.identities WHERE user_id IN (
  SELECT id FROM auth.users WHERE email IN ('admin@sistema.com', 'joao@pizzaria.com', 'contato@dominiopizzas.com.br')
);
DELETE FROM auth.users WHERE email IN ('admin@sistema.com', 'joao@pizzaria.com', 'contato@dominiopizzas.com.br');

-- Inserir usuÃ¡rios para as novas empresas DomÃ­nio
-- Hash bcrypt para senha '123456': $2a$10$N9qo8uLOickgx2ZMRt/M3OHSCi80qji6uIL75xPaELGqn7mFbP4mS

-- UsuÃ¡rio DomÃ­nio Pizzas

-- UsuÃ¡rio DomÃ­nio Burger

-- UsuÃ¡rio DomÃ­nio Distribuidora

-- Inserir identidades para os usuÃ¡rios


-- ================================================
-- Migration: 20250617185030-1e5b729b-14cc-4af0-97a8-2d59d6caebbd.sql
-- ================================================


-- Limpar dados existentes
DELETE FROM produtos WHERE company_id IN (SELECT id FROM companies);
DELETE FROM categorias WHERE company_id IN (SELECT id FROM companies);
DELETE FROM categorias_adicionais WHERE company_id IN (SELECT id FROM companies);
DELETE FROM adicionais;
DELETE FROM companies;

-- Inserir as novas empresas
INSERT INTO public.companies (id, name, domain, logo, plan, status, user_count) VALUES
('550e8400-e29b-41d4-a716-446655440001', 'DomÃ­nio Pizzas', 'dominiopizzas', 'ðŸ•', 'pro', 'active', 8),
('550e8400-e29b-41d4-a716-446655440002', 'DomÃ­nio Burger', 'dominioburger', 'ðŸ”', 'basic', 'active', 5),
('550e8400-e29b-41d4-a716-446655440003', 'DomÃ­nio Distribuidora', 'dominiodistribuidora', 'ðŸ“¦', 'enterprise', 'active', 15);

-- Criar categorias para DomÃ­nio Pizzas

-- Criar categorias para DomÃ­nio Burger

-- Criar categorias para DomÃ­nio Distribuidora

-- Produtos para DomÃ­nio Pizzas

-- Produtos para DomÃ­nio Burger

-- Produtos para DomÃ­nio Distribuidora

-- Categorias de adicionais para Pizzas
INSERT INTO public.categorias_adicionais (id, name, description, selection_type, is_required, max_selection, company_id) VALUES
('d50e8400-e29b-41d4-a716-446655440001', 'Tamanho da Pizza', 'Escolha o tamanho da sua pizza', 'single', true, 1, '550e8400-e29b-41d4-a716-446655440001'),
('d50e8400-e29b-41d4-a716-446655440002', 'Ingredientes Extras', 'Adicione ingredientes extras', 'multiple', false, 5, '550e8400-e29b-41d4-a716-446655440001'),
('d50e8400-e29b-41d4-a716-446655440003', 'Massa', 'Tipo de massa', 'single', false, 1, '550e8400-e29b-41d4-a716-446655440001');

-- Categorias de adicionais para Burger
INSERT INTO public.categorias_adicionais (id, name, description, selection_type, is_required, max_selection, company_id) VALUES
('e50e8400-e29b-41d4-a716-446655440001', 'Ponto da Carne', 'Como vocÃª quer sua carne?', 'single', true, 1, '550e8400-e29b-41d4-a716-446655440002'),
('e50e8400-e29b-41d4-a716-446655440002', 'Adicionais', 'Incremente seu burger', 'multiple', false, 8, '550e8400-e29b-41d4-a716-446655440002');

-- Adicionais para Pizza - Tamanhos
INSERT INTO public.adicionais (name, description, price, categoria_adicional_id, is_available) VALUES
('Pizza Pequena (25cm)', '4 fatias', 0.00, 'd50e8400-e29b-41d4-a716-446655440001', true),
('Pizza MÃ©dia (30cm)', '6 fatias', 8.00, 'd50e8400-e29b-41d4-a716-446655440001', true),
('Pizza Grande (35cm)', '8 fatias', 15.00, 'd50e8400-e29b-41d4-a716-446655440001', true),
('Pizza FamÃ­lia (40cm)', '12 fatias', 25.00, 'd50e8400-e29b-41d4-a716-446655440001', true);

-- Adicionais para Pizza - Ingredientes Extras
INSERT INTO public.adicionais (name, description, price, categoria_adicional_id, is_available) VALUES
('Bacon', 'Bacon crocante', 5.00, 'd50e8400-e29b-41d4-a716-446655440002', true),
('Catupiry', 'Queijo catupiry original', 4.00, 'd50e8400-e29b-41d4-a716-446655440002', true),
('Champignon', 'Cogumelos frescos', 3.50, 'd50e8400-e29b-41d4-a716-446655440002', true),
('Azeitona', 'Azeitonas pretas', 2.50, 'd50e8400-e29b-41d4-a716-446655440002', true),
('Cebola Roxa', 'Cebola roxa fatiada', 2.00, 'd50e8400-e29b-41d4-a716-446655440002', true);

-- Adicionais para Pizza - Massas
INSERT INTO public.adicionais (name, description, price, categoria_adicional_id, is_available) VALUES
('Massa Tradicional', 'Massa tradicional fina', 0.00, 'd50e8400-e29b-41d4-a716-446655440003', true),
('Massa Integral', 'Massa integral saudÃ¡vel', 3.00, 'd50e8400-e29b-41d4-a716-446655440003', true),
('Borda Recheada', 'Borda recheada com catupiry', 8.00, 'd50e8400-e29b-41d4-a716-446655440003', true);

-- Adicionais para Burger - Ponto da Carne

-- Adicionais para Burger - Extras


-- ================================================
-- Migration: 20250617185259-5c7148e7-cbda-4819-a1a9-a325aa62fb23.sql
-- ================================================


-- Atualizar os emails dos usuÃ¡rios existentes para usar .com.br
UPDATE auth.users SET email = 'dominiopizzas@dominiopizzas.com.br' WHERE email = 'dominiopizzas@dominiopizzas.com';
UPDATE auth.users SET email = 'dominioburger@dominiopizzas.com.br' WHERE email = 'dominioburger@dominiopizzas.com';
UPDATE auth.users SET email = 'dominiodistribuidora@dominiopizzas.com.br' WHERE email = 'dominiodistribuidora@dominiopizzas.com';

-- Atualizar as identidades tambÃ©m
UPDATE auth.identities SET provider_id = 'dominiopizzas@dominiopizzas.com.br' WHERE provider_id = 'dominiopizzas@dominiopizzas.com';
UPDATE auth.identities SET provider_id = 'dominioburger@dominiopizzas.com.br' WHERE provider_id = 'dominioburger@dominiopizzas.com';
UPDATE auth.identities SET provider_id = 'dominiodistribuidora@dominiopizzas.com.br' WHERE provider_id = 'dominiodistribuidora@dominiopizzas.com';

-- Atualizar o identity_data tambÃ©m
UPDATE auth.identities 
SET identity_data = jsonb_set(identity_data, '{email}', '"dominiopizzas@dominiopizzas.com.br"')
WHERE provider_id = 'dominiopizzas@dominiopizzas.com.br';

UPDATE auth.identities 
SET identity_data = jsonb_set(identity_data, '{email}', '"dominioburger@dominiopizzas.com.br"')
WHERE provider_id = 'dominioburger@dominiopizzas.com.br';

UPDATE auth.identities 
SET identity_data = jsonb_set(identity_data, '{email}', '"dominiodistribuidora@dominiopizzas.com.br"')
WHERE provider_id = 'dominiodistribuidora@dominiopizzas.com.br';


-- ================================================
-- Migration: 20250617190231-a375ef0b-12b9-44da-90c7-74c81faa6eb0.sql
-- ================================================


-- Primeiro, vamos verificar se os usuÃ¡rios existem
SELECT email, encrypted_password, email_confirmed_at 
FROM auth.users 
WHERE email LIKE '%dominiopizzas.com.br%';

-- Limpar usuÃ¡rios existentes se houver problemas
DELETE FROM auth.identities WHERE provider_id LIKE '%@dominiopizzas.com.br%';
DELETE FROM auth.users WHERE email LIKE '%@dominiopizzas.com.br%';

-- Recriar os usuÃ¡rios com hash bcrypt correto para senha '123456'
-- Hash: $2a$10$N9qo8uLOickgx2ZMRt/M3OHSCi80qji6uIL75xPaELGqn7mFbP4mS

-- UsuÃ¡rio DomÃ­nio Pizzas

-- UsuÃ¡rio DomÃ­nio Burger

-- UsuÃ¡rio DomÃ­nio Distribuidora

-- Inserir identidades para os usuÃ¡rios

-- Verificar se os usuÃ¡rios foram criados corretamente
SELECT email, encrypted_password, email_confirmed_at, created_at 
FROM auth.users 
WHERE email LIKE '%@dominiopizzas.com.br%'
ORDER BY email;


-- ================================================
-- Migration: 20250617190617-cf24bd1b-6a17-4ca1-87bb-55930b818b67.sql
-- ================================================


-- Restaurar o super admin contato@dominiopizzas.com.br

-- Inserir identidade para o super admin
INSERT INTO auth.identities (
  provider_id,
  user_id,
  identity_data,
  provider,
  last_sign_in_at,
  created_at,
  updated_at,
  id
) VALUES (
  'contato@dominiopizzas.com.br',
  '66f77734-a25e-44ab-90c1-db6e0c6f27bd',
  jsonb_build_object(
    'sub', '66f77734-a25e-44ab-90c1-db6e0c6f27bd',
    'email', 'contato@dominiopizzas.com.br',
    'email_verified', true,
    'phone_verified', false
  ),
  'email',
  NOW(),
  NOW(),
  NOW(),
  gen_random_uuid()
);

-- Verificar todos os usuÃ¡rios
SELECT email, raw_user_meta_data, is_super_admin, created_at 
FROM auth.users 
ORDER BY email;


-- ================================================
-- Migration: 20250617190957-27d1a004-49f3-4cf5-bb7c-4c84beb6a1a2.sql
-- ================================================


-- Verificar o estado atual dos usuÃ¡rios
SELECT id, email, encrypted_password, is_super_admin, created_at 
FROM auth.users 
WHERE email = 'contato@dominiopizzas.com.br'
ORDER BY created_at;

-- Remover qualquer duplicata do usuÃ¡rio super admin
DELETE FROM auth.identities WHERE provider_id = 'contato@dominiopizzas.com.br';
DELETE FROM auth.users WHERE email = 'contato@dominiopizzas.com.br';

-- Recriar o super admin com o ID correto e senha vÃ¡lida

-- Recriar a identidade para o super admin

-- Verificar o resultado final
SELECT email, is_super_admin, created_at, raw_user_meta_data
FROM auth.users 
ORDER BY email;


-- ================================================
-- Migration: 20250617192437-2bf697a1-0c26-4167-a6ee-c9c5eaefdfc6.sql
-- ================================================


-- Garantir que o usuÃ¡rio super admin tenha o email confirmado
UPDATE auth.users 
SET 
  email_confirmed_at = NOW(),
  confirmation_sent_at = NOW(),
  confirmation_token = '',
  email_change_confirm_status = 1
WHERE email = 'contato@dominiopizzas.com.br';

-- Verificar se existe alguma configuraÃ§Ã£o que possa estar bloqueando
SELECT email, email_confirmed_at, confirmation_token, email_change_confirm_status
FROM auth.users 
WHERE email = 'contato@dominiopizzas.com.br';

-- Atualizar todos os usuÃ¡rios de teste para ter emails confirmados
UPDATE auth.users 
SET 
  email_confirmed_at = COALESCE(email_confirmed_at, NOW()),
  confirmation_sent_at = COALESCE(confirmation_sent_at, NOW()),
  confirmation_token = COALESCE(confirmation_token, ''),
  email_change_confirm_status = COALESCE(email_change_confirm_status, 1)
WHERE email IN (
  'contato@dominiopizzas.com.br',
  'dominiopizzas@dominiopizzas.com.br', 
  'dominioburger@dominiopizzas.com.br',
  'dominiodistribuidora@dominiopizzas.com.br'
);


-- ================================================
-- Migration: 20250617195707-a0243e81-2e7b-42ee-845c-a53009300230.sql
-- ================================================


-- Corrigir todos os usuÃ¡rios existentes das lojas
-- Usar hash bcrypt vÃ¡lido para a senha 'Admin123@@'
UPDATE auth.users 
SET 
  encrypted_password = '$2a$10$N9qo8uLOickgx2ZMRt/M3OHSCi80qji6uIL75xPaELGqn7mFbP4mS',
  email_confirmed_at = COALESCE(email_confirmed_at, NOW()),
  confirmation_sent_at = COALESCE(confirmation_sent_at, NOW()),
  confirmation_token = '',
  recovery_token = '',
  email_change_token_new = '',
  email_change = '',
  phone_change = '',
  phone_change_token = '',
  email_change_token_current = '',
  email_change_confirm_status = 1,
  reauthentication_token = '',
  last_sign_in_at = COALESCE(last_sign_in_at, NOW())
WHERE email IN (
  'contato@dominiopizzas.com.br',
  'dominiopizzas@dominiopizzas.com.br', 
  'dominioburger@dominiopizzas.com.br',
  'dominiodistribuidora@dominiopizzas.com.br'
);

-- Verificar se os usuÃ¡rios foram corrigidos
SELECT 
  email, 
  email_confirmed_at IS NOT NULL as email_confirmed,
  encrypted_password LIKE '$2a$%' as valid_password_hash,
  last_sign_in_at
FROM auth.users 
WHERE email IN (
  'contato@dominiopizzas.com.br',
  'dominiopizzas@dominiopizzas.com.br', 
  'dominioburger@dominiopizzas.com.br',
  'dominiodistribuidora@dominiopizzas.com.br'
);


-- ================================================
-- Migration: 20250617201444-fb9d5eef-fd23-4acb-9b73-fd1dc661c39e.sql
-- ================================================


-- Atualizar o usuÃ¡rio contato@dominiopizzas.com.br para ser super admin
UPDATE auth.users 
SET 
  raw_user_meta_data = jsonb_build_object(
    'name', 'Super Admin DomÃ­nio', 
    'role', 'super_admin'
  ),
  is_super_admin = true,
  updated_at = NOW()
WHERE email = 'contato@dominiopizzas.com.br';

-- Verificar se a atualizaÃ§Ã£o foi feita
SELECT 
  email, 
  is_super_admin, 
  raw_user_meta_data,
  email_confirmed_at IS NOT NULL as email_confirmed
FROM auth.users 
WHERE email = 'contato@dominiopizzas.com.br';


-- ================================================
-- Migration: 20250617201815-fde417f3-ab4e-488d-a758-03c73aa1a2a0.sql
-- ================================================


-- Atualizar usuÃ¡rio da DomÃ­nio Pizzas
UPDATE auth.users 
SET 
  raw_user_meta_data = jsonb_build_object(
    'name', 'Admin DomÃ­nio Pizzas',
    'role', 'admin',
    'company_domain', 'dominiopizzas'
  ),
  updated_at = NOW()
WHERE email = 'dominiopizzas@dominiopizzas.com.br';

-- Atualizar usuÃ¡rio da DomÃ­nio Burger  
UPDATE auth.users 
SET 
  raw_user_meta_data = jsonb_build_object(
    'name', 'Admin DomÃ­nio Burger',
    'role', 'admin', 
    'company_domain', 'dominioburger'
  ),
  updated_at = NOW()
WHERE email = 'dominioburger@dominiopizzas.com.br';

-- Atualizar usuÃ¡rio da DomÃ­nio Distribuidora
UPDATE auth.users 
SET 
  raw_user_meta_data = jsonb_build_object(
    'name', 'Admin DomÃ­nio Distribuidora',
    'role', 'admin',
    'company_domain', 'dominiodistribuidora'
  ),
  updated_at = NOW()
WHERE email = 'dominiodistribuidora@dominiopizzas.com.br';

-- Verificar se as atualizaÃ§Ãµes foram feitas corretamente
SELECT 
  email,
  raw_user_meta_data->>'name' as name,
  raw_user_meta_data->>'role' as role,
  raw_user_meta_data->>'company_domain' as company_domain,
  email_confirmed_at IS NOT NULL as email_confirmed
FROM auth.users 
WHERE email IN (
  'dominiopizzas@dominiopizzas.com.br',
  'dominioburger@dominiopizzas.com.br', 
  'dominiodistribuidora@dominiopizzas.com.br'
)
ORDER BY email;


-- ================================================
-- Migration: 20250617230800-add-ai-global-config.sql
-- ================================================

-- ConfiguraÃ§Ã£o global de IA (apenas super admin)
CREATE TABLE IF NOT EXISTS ai_global_config (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  openai_api_key TEXT NOT NULL,
  openai_model VARCHAR(50) DEFAULT 'gpt-3.5-turbo',
  max_tokens INTEGER DEFAULT 150,
  temperature DECIMAL(2,1) DEFAULT 0.7,
  system_prompt TEXT DEFAULT 'VocÃª Ã© um assistente virtual especializado em atendimento ao cliente para restaurantes e estabelecimentos comerciais.',
  is_active BOOLEAN DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- ConfiguraÃ§Ã£o de agente IA por empresa
CREATE TABLE IF NOT EXISTS ai_agent_config (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  company_id UUID NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
  is_active BOOLEAN DEFAULT false,
  agent_name VARCHAR(100) DEFAULT 'Atendente Virtual',
  personality VARCHAR(50) DEFAULT 'simpatico',
  language VARCHAR(10) DEFAULT 'pt-br',
  
  -- Mensagens personalizadas
  welcome_message TEXT DEFAULT 'OlÃ¡! Como posso te ajudar hoje?',
  away_message TEXT DEFAULT 'No momento estou ocupado, mas retorno em breve!',
  goodbye_message TEXT DEFAULT 'Obrigado pelo contato! Tenha um Ã³timo dia!',
  sales_phrases TEXT DEFAULT 'Confira nossos destaques! Posso te sugerir algo especial?',
  
  -- ConfiguraÃ§Ãµes de comportamento
  response_speed INTEGER DEFAULT 2, -- 1-5 (lento a rÃ¡pido)
  detail_level INTEGER DEFAULT 3, -- 1-5 (bÃ¡sico a detalhado)
  sales_aggressiveness INTEGER DEFAULT 2, -- 1-5 (sutil a agressivo)
  working_hours VARCHAR(20) DEFAULT '24/7',
  message_limit INTEGER DEFAULT 50,
  
  -- Recursos habilitados
  auto_suggestions BOOLEAN DEFAULT true,
  order_reminders BOOLEAN DEFAULT true,
  data_collection BOOLEAN DEFAULT false,
  whatsapp_integration BOOLEAN DEFAULT false,
  manager_notifications BOOLEAN DEFAULT true,
  
  -- Base de conhecimento
  product_knowledge BOOLEAN DEFAULT true,
  promotion_knowledge BOOLEAN DEFAULT true,
  stock_knowledge BOOLEAN DEFAULT false,
  
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  
  UNIQUE(company_id)
);

-- Logs de conversas da IA
CREATE TABLE IF NOT EXISTS ai_conversation_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  company_id UUID NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
  customer_phone VARCHAR(20),
  customer_name VARCHAR(100),
  message_type VARCHAR(20) NOT NULL, -- 'user' ou 'assistant'
  message_content TEXT NOT NULL,
  tokens_used INTEGER DEFAULT 0,
  response_time_ms INTEGER,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Ãndices para performance
CREATE INDEX IF NOT EXISTS idx_ai_agent_config_company_id ON ai_agent_config(company_id);
CREATE INDEX IF NOT EXISTS idx_ai_conversation_logs_company_id ON ai_conversation_logs(company_id);
CREATE INDEX IF NOT EXISTS idx_ai_conversation_logs_created_at ON ai_conversation_logs(created_at);

-- RLS (Row Level Security)
ALTER TABLE ai_global_config ENABLE ROW LEVEL SECURITY;
ALTER TABLE ai_agent_config ENABLE ROW LEVEL SECURITY;
ALTER TABLE ai_conversation_logs ENABLE ROW LEVEL SECURITY;

-- PolÃ­ticas de seguranÃ§a
-- Apenas super admin pode acessar configuraÃ§Ã£o global
CREATE POLICY "Super admin can manage global AI config" ON ai_global_config
  FOR ALL USING (
    EXISTS (
      SELECT 1 FROM auth.users 
      WHERE auth.users.id = auth.uid() 
      AND auth.users.raw_user_meta_data->>'role' = 'super_admin'
    )
  );

-- Empresas podem gerenciar apenas suas prÃ³prias configuraÃ§Ãµes
CREATE POLICY "Companies can manage their AI config" ON ai_agent_config
  FOR ALL USING (
    company_id IN (
      SELECT c.id FROM companies c
      JOIN auth.users u ON u.raw_user_meta_data->>'company_domain' = c.domain
      WHERE u.id = auth.uid()
    )
    OR EXISTS (
      SELECT 1 FROM auth.users 
      WHERE auth.users.id = auth.uid() 
      AND auth.users.raw_user_meta_data->>'role' = 'super_admin'
    )
  );

-- Logs de conversa por empresa
CREATE POLICY "Companies can view their conversation logs" ON ai_conversation_logs
  FOR SELECT USING (
    company_id IN (
      SELECT c.id FROM companies c
      JOIN auth.users u ON u.raw_user_meta_data->>'company_domain' = c.domain
      WHERE u.id = auth.uid()
    )
    OR EXISTS (
      SELECT 1 FROM auth.users 
      WHERE auth.users.id = auth.uid() 
      AND auth.users.raw_user_meta_data->>'role' = 'super_admin'
    )
  );

-- Inserir configuraÃ§Ã£o global padrÃ£o (serÃ¡ atualizada pelo super admin)
INSERT INTO ai_global_config (openai_api_key, is_active) 
VALUES ('CONFIGURE_YOUR_OPENAI_API_KEY_HERE', false)
ON CONFLICT DO NOTHING;


-- ================================================
-- Migration: 20250618025726-084a2f55-1f1f-4c4a-8da3-0afe12b99079.sql
-- ================================================


-- Criar tabela para configuraÃ§Ãµes do agente de IA
CREATE TABLE public.agente_ia_config (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  company_id UUID NOT NULL REFERENCES public.companies(id) ON DELETE CASCADE,
  
  -- ConfiguraÃ§Ãµes bÃ¡sicas
  ativo BOOLEAN NOT NULL DEFAULT true,
  nome VARCHAR(255) NOT NULL DEFAULT 'Atendente Virtual',
  personalidade VARCHAR(50) NOT NULL DEFAULT 'simpatico',
  idioma VARCHAR(10) NOT NULL DEFAULT 'pt-br',
  
  -- Mensagens personalizadas
  mensagem_boas_vindas TEXT,
  mensagem_ausencia TEXT,
  mensagem_despedida TEXT,
  frases_venda TEXT,
  
  -- ConfiguraÃ§Ãµes de comportamento
  velocidade_resposta INTEGER NOT NULL DEFAULT 2 CHECK (velocidade_resposta >= 1 AND velocidade_resposta <= 5),
  nivel_detalhamento INTEGER NOT NULL DEFAULT 3 CHECK (nivel_detalhamento >= 1 AND nivel_detalhamento <= 5),
  agressividade_venda INTEGER NOT NULL DEFAULT 2 CHECK (agressividade_venda >= 1 AND agressividade_venda <= 5),
  horario_funcionamento VARCHAR(20) NOT NULL DEFAULT '24/7',
  limite_mensagens INTEGER NOT NULL DEFAULT 50,
  
  -- Recursos avanÃ§ados
  auto_sugestoes BOOLEAN NOT NULL DEFAULT true,
  lembranca_pedidos BOOLEAN NOT NULL DEFAULT true,
  coleta_dados BOOLEAN NOT NULL DEFAULT false,
  integracao_whatsapp BOOLEAN NOT NULL DEFAULT false,
  notificacao_gerente BOOLEAN NOT NULL DEFAULT true,
  
  -- Base de conhecimento
  conhecimento_produtos BOOLEAN NOT NULL DEFAULT true,
  conhecimento_promocoes BOOLEAN NOT NULL DEFAULT true,
  conhecimento_estoque BOOLEAN NOT NULL DEFAULT false,
  
  -- Timestamps
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Adicionar RLS (Row Level Security)
ALTER TABLE public.agente_ia_config ENABLE ROW LEVEL SECURITY;

-- PolÃ­tica para que usuÃ¡rios sÃ³ vejam configuraÃ§Ãµes da sua empresa
CREATE POLICY "Users can view their company's AI agent config" 
  ON public.agente_ia_config 
  FOR SELECT 
  USING (company_id IN (SELECT id FROM public.companies));

-- PolÃ­tica para inserir configuraÃ§Ãµes
CREATE POLICY "Users can create AI agent config for their company" 
  ON public.agente_ia_config 
  FOR INSERT 
  WITH CHECK (company_id IN (SELECT id FROM public.companies));

-- PolÃ­tica para atualizar configuraÃ§Ãµes
CREATE POLICY "Users can update their company's AI agent config" 
  ON public.agente_ia_config 
  FOR UPDATE 
  USING (company_id IN (SELECT id FROM public.companies));

-- PolÃ­tica para deletar configuraÃ§Ãµes
CREATE POLICY "Users can delete their company's AI agent config" 
  ON public.agente_ia_config 
  FOR DELETE 
  USING (company_id IN (SELECT id FROM public.companies));

-- Trigger para atualizar updated_at automaticamente
CREATE TRIGGER update_agente_ia_config_updated_at
  BEFORE UPDATE ON public.agente_ia_config
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

-- Ãndice para melhorar performance nas consultas por company_id
CREATE INDEX idx_agente_ia_config_company_id ON public.agente_ia_config(company_id);

-- Garantir que cada empresa tenha apenas uma configuraÃ§Ã£o de agente IA
CREATE UNIQUE INDEX idx_agente_ia_config_unique_company ON public.agente_ia_config(company_id);


-- ================================================
-- Migration: 20250618032628-10682522-11af-4f3a-8cd1-8e4cfccaf067.sql
-- ================================================


-- Create AI global configuration table (for super admin)
CREATE TABLE IF NOT EXISTS ai_global_config (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  openai_api_key TEXT NOT NULL,
  openai_model VARCHAR(50) DEFAULT 'gpt-4.1-2025-04-14',
  max_tokens INTEGER DEFAULT 150,
  temperature DECIMAL(2,1) DEFAULT 0.7,
  system_prompt TEXT DEFAULT 'VocÃª Ã© um assistente virtual especializado em atendimento ao cliente para restaurantes e estabelecimentos comerciais.',
  is_active BOOLEAN DEFAULT false,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Create AI agent configuration table (per company)
CREATE TABLE IF NOT EXISTS ai_agent_config (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  company_id UUID NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
  is_active BOOLEAN DEFAULT false,
  agent_name VARCHAR(100) DEFAULT 'Atendente Virtual',
  personality VARCHAR(50) DEFAULT 'simpatico',
  language VARCHAR(10) DEFAULT 'pt-br',
  
  -- Mensagens personalizadas
  welcome_message TEXT DEFAULT 'OlÃ¡! Como posso te ajudar hoje?',
  away_message TEXT DEFAULT 'No momento estou ocupado, mas retorno em breve!',
  goodbye_message TEXT DEFAULT 'Obrigado pelo contato! Tenha um Ã³timo dia!',
  sales_phrases TEXT DEFAULT 'Confira nossos destaques! Posso te sugerir algo especial?',
  
  -- ConfiguraÃ§Ãµes de comportamento
  response_speed INTEGER DEFAULT 2, -- 1-5 (lento a rÃ¡pido)
  detail_level INTEGER DEFAULT 3, -- 1-5 (bÃ¡sico a detalhado)
  sales_aggressiveness INTEGER DEFAULT 2, -- 1-5 (sutil a agressivo)
  working_hours VARCHAR(20) DEFAULT '24/7',
  message_limit INTEGER DEFAULT 50,
  
  -- Recursos habilitados
  auto_suggestions BOOLEAN DEFAULT true,
  order_reminders BOOLEAN DEFAULT true,
  data_collection BOOLEAN DEFAULT false,
  whatsapp_integration BOOLEAN DEFAULT false,
  manager_notifications BOOLEAN DEFAULT true,
  
  -- Base de conhecimento
  product_knowledge BOOLEAN DEFAULT true,
  promotion_knowledge BOOLEAN DEFAULT true,
  stock_knowledge BOOLEAN DEFAULT false,
  
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  
  UNIQUE(company_id)
);

-- Create AI conversation logs table
CREATE TABLE IF NOT EXISTS ai_conversation_logs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  company_id UUID NOT NULL REFERENCES companies(id) ON DELETE CASCADE,
  customer_phone VARCHAR(20),
  customer_name VARCHAR(100),
  message_type VARCHAR(20) NOT NULL, -- 'user' ou 'assistant'
  message_content TEXT NOT NULL,
  tokens_used INTEGER DEFAULT 0,
  response_time_ms INTEGER,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);

-- Add indexes for performance
CREATE INDEX IF NOT EXISTS idx_ai_agent_config_company_id ON ai_agent_config(company_id);
CREATE INDEX IF NOT EXISTS idx_ai_conversation_logs_company_id ON ai_conversation_logs(company_id);
CREATE INDEX IF NOT EXISTS idx_ai_conversation_logs_created_at ON ai_conversation_logs(created_at);

-- Enable RLS
ALTER TABLE ai_global_config ENABLE ROW LEVEL SECURITY;
ALTER TABLE ai_agent_config ENABLE ROW LEVEL SECURITY;
ALTER TABLE ai_conversation_logs ENABLE ROW LEVEL SECURITY;

-- RLS Policies for ai_global_config (super admin only)
CREATE POLICY "Super admin can manage global AI config" ON ai_global_config
  FOR ALL USING (
    EXISTS (
      SELECT 1 FROM auth.users 
      WHERE auth.users.id = auth.uid() 
      AND auth.users.raw_user_meta_data->>'role' = 'super_admin'
    )
  );

-- RLS Policies for ai_agent_config (company level)
CREATE POLICY "Companies can manage their AI agent config" ON ai_agent_config
  FOR ALL USING (
    company_id IN (
      SELECT c.id FROM companies c
      JOIN auth.users u ON u.raw_user_meta_data->>'company_domain' = c.domain
      WHERE u.id = auth.uid()
    )
    OR EXISTS (
      SELECT 1 FROM auth.users 
      WHERE auth.users.id = auth.uid() 
      AND auth.users.raw_user_meta_data->>'role' = 'super_admin'
    )
  );

-- RLS Policies for ai_conversation_logs (company level for viewing)
CREATE POLICY "Companies can view their conversation logs" ON ai_conversation_logs
  FOR SELECT USING (
    company_id IN (
      SELECT c.id FROM companies c
      JOIN auth.users u ON u.raw_user_meta_data->>'company_domain' = c.domain
      WHERE u.id = auth.uid()
    )
    OR EXISTS (
      SELECT 1 FROM auth.users 
      WHERE auth.users.id = auth.uid() 
      AND auth.users.raw_user_meta_data->>'role' = 'super_admin'
    )
  );

-- Insert default global configuration
INSERT INTO ai_global_config (openai_api_key, is_active) 
VALUES ('CONFIGURE_YOUR_OPENAI_API_KEY_HERE', false)
ON CONFLICT DO NOTHING;

-- Add trigger for updated_at
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ language 'plpgsql';

CREATE TRIGGER update_ai_global_config_updated_at BEFORE UPDATE ON ai_global_config FOR EACH ROW EXECUTE PROCEDURE update_updated_at_column();
CREATE TRIGGER update_ai_agent_config_updated_at BEFORE UPDATE ON ai_agent_config FOR EACH ROW EXECUTE PROCEDURE update_updated_at_column();


-- ================================================
-- Migration: 20250618150656-faa79dd8-5203-465b-a4d6-560149eed826.sql
-- ================================================


-- Habilitar RLS na tabela ai_global_config
ALTER TABLE public.ai_global_config ENABLE ROW LEVEL SECURITY;

-- PolÃ­tica para permitir que super admins vejam a configuraÃ§Ã£o global
CREATE POLICY "Super admins can view global AI config" 
  ON public.ai_global_config 
  FOR SELECT 
  USING (true);

-- PolÃ­tica para permitir que super admins insiram configuraÃ§Ã£o global
CREATE POLICY "Super admins can create global AI config" 
  ON public.ai_global_config 
  FOR INSERT 
  WITH CHECK (true);

-- PolÃ­tica para permitir que super admins atualizem a configuraÃ§Ã£o global
CREATE POLICY "Super admins can update global AI config" 
  ON public.ai_global_config 
  FOR UPDATE 
  USING (true);

-- PolÃ­tica para permitir que super admins deletem a configuraÃ§Ã£o global
CREATE POLICY "Super admins can delete global AI config" 
  ON public.ai_global_config 
  FOR DELETE 
  USING (true);

-- Criar Ã­ndice para melhorar performance
CREATE INDEX IF NOT EXISTS idx_ai_global_config_active ON public.ai_global_config(is_active);


